*{
    box-sizing: border-box;
    
}
.column {
    float: left;
    padding: 10px;
    height: 900px; 
}
.left {
    width: 25%;
    height: 35%;
    background-color:rgb(43, 42, 42);
    color: rgb(177, 170, 170);
  }
  
  .right {
    width: 75%;
    height: 30%;
    background-color:whitesmoke;

  }
  li{
    list-style: none;

  }

  li.white a{
    color: rgb(177, 170, 170);

  }
  a{
    text-decoration: none;
    color: black;
  }

  h3{
    font-weight: lighter;
  }

  img{
    margin-left: 60px;
    border-radius: 50%;
  }